{% extends 'base.html' %}

{% block title %}About Us - Issue Tracker{% endblock title %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mb-3">About Us</h1>
      <p class="lead">We are the team behind the Issue Tracker, dedicated to improving project management and collaboration for software development teams around the globe.</p>
      
      <div class="mt-4">
        <h2>Our Mission</h2>
        <p>Our mission is to provide a robust, intuitive platform that simplifies the complexity of issue tracking and management, enabling teams to focus on creating exceptional software without getting bogged down by task management issues.</p>
      </div>
      
      <div class="mt-4">
        <h2>Who We Are</h2>
        <p>I'm Cesar, a student with a passion for technology and problem-solving. Along with my team, we've built the Issue Tracker to address the common challenges faced by software developers in managing tasks and bugs. Our diverse backgrounds in software development, design, and user experience have come together to create a tool that we believe will make a significant difference in how projects are managed.</p>
      </div>
      
      <div class="mt-4">
        <h2>Our Journey</h2>
        <p>From a small project conceived in a college dorm to a platform that's now being used by teams across the world, our journey has been nothing short of incredible. We've learned, adapted, and grown, all with the aim of making our product the best it can be for our users.</p>
      </div>
    </div>
    
    <div class="col-lg-4">
      <h2 class="mb-3">Contact Us</h2>
      <address>
        <strong>Email:</strong> <a href="mailto:contact@issuetracker.com">contact@issuetracker.com</a><br>
        <strong>Twitter:</strong> <a href="https://twitter.com/IssueTracker">@IssueTracker</a>
      </address>
    </div>
  </div>
</div>
{% endblock %}
